<div id="Game">
  <div [hidden]="!debug" id="debugBar">
    <button (click)="loginUser()">Log In</button>
    <button (click)="newGame()">New Game</button>
    <button (click)="getUser()">Get User</button>
    <br />
    <button (click)="hit()">Hit</button>
    <button (click)="stay()">Stay</button>
    <button (click)="getHands()">getHands</button>
  </div>
  <h3> {{ message }} <span class="text-danger" [hidden]="fresh">{{ winner === 'tie' ? 'Nobody' : winner }} won!</span> </h3>

  <table class="table table-dark">
    <thead>
    <tr>
      <th scope="col">
        <input [hidden]="emailEntered" [(ngModel)]="email" type="email" class="form-control" placeholder="Enter a unique name"/>
        <h3 [hidden]="!emailEntered">Player: {{ email }}</h3>
      </th>
      <th scope="col">
        <button [hidden]="gameOn || loading" class="btn btn-primary" (click)="newGame()">New Game</button>
        <button [hidden]="!gameOn || loading" class="btn btn-warning" (click)="hit()">Hit</button>
        <button [hidden]="!gameOn || loading" class="btn btn-danger" (click)="stay()">Stay</button>
        <div [hidden]="!loading" class="lds-ellipsis">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </th>
      <th scope="col">
        <h6 class="text-success text-sm" [hidden]="!playerWins">Wins: {{ playerWins }}</h6>
        <h6 class="text-warning text-sm" [hidden]="!playerTies">Ties: {{ playerTies }}</h6>
        <h6 class="text-danger text-sm" [hidden]="!playerLosses">Losses: {{ playerLosses }}</h6>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr id="PlayerTable" [ngClass]="{'winner': (winner === 'player')}">
      <th scope="row">Player Hand:</th>
      <td colspan="2">
        <div class="card-container">
          <img [hidden]="!playerHand.card1" src="assets/res/PNG/{{ playerHand.card1 ? playerHand.card1.value + playerHand.card1.suit : 'red_back' }}.png" />
          <img [hidden]="!playerHand.card2" src="assets/res/PNG/{{ playerHand.card2 ? playerHand.card2.value + playerHand.card2.suit : 'red_back' }}.png" />
          <img [hidden]="!playerHand.card3" src="assets/res/PNG/{{ playerHand.card3 ? playerHand.card3.value + playerHand.card3.suit : 'red_back' }}.png" />
          <img [hidden]="!playerHand.card4" src="assets/res/PNG/{{ playerHand.card4 ? playerHand.card4.value + playerHand.card4.suit : 'red_back' }}.png" />
          <img [hidden]="!playerHand.card5" src="assets/res/PNG/{{ playerHand.card5 ? playerHand.card5.value + playerHand.card5.suit : 'red_back' }}.png" />
        </div>
      </td>
    </tr>
    <tr id="ComputerTable" [ngClass]="{'winner': (winner === 'computer')}">
      <th scope="row">Computer Hand:</th>
      <td colspan="2">
        <div class="card-container">
          <img [hidden]="!computerHand.card1" src="assets/res/PNG/{{ computerHand.card1 ? computerHand.card1.value + computerHand.card1.suit : 'red_back' }}.png" />
          <img [hidden]="!computerHand.card2" src="assets/res/PNG/{{ computerHand.card2 ? computerHand.card2.value + computerHand.card2.suit : 'red_back' }}.png" />
          <img [hidden]="!computerHand.card3" src="assets/res/PNG/{{ computerHand.card3 ? computerHand.card3.value + computerHand.card3.suit : 'red_back' }}.png" />
          <img [hidden]="!computerHand.card4" src="assets/res/PNG/{{ computerHand.card4 ? computerHand.card4.value + computerHand.card4.suit : 'red_back' }}.png" />
          <img [hidden]="!computerHand.card5" src="assets/res/PNG/{{ computerHand.card5 ? computerHand.card5.value + computerHand.card5.suit : 'red_back' }}.png" />
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">Winner:</th>
      <td colspan="2">
        {{ winner }}
      </td>
    </tr>
    </tbody>
  </table>
</div>
