#Game {
  color: #f4f4f4;
  position: absolute;
  top: 10vh;
  left: 10vw;
  width: 80vw;
  height: 80vh;
  padding: 20px;
  background: rgba(0,0,0,0.8);
  .card-container {
    height: 120px;
    overflow: hidden;
    img {
      height: 120px;
      margin: 0 10px;
      position: relative;
      animation-name: card;
      animation-delay: 30ms;
      animation-duration: 2s;
      animation-fill-mode: forwards;
      top: -120px;
    }
  }

}

#PlayerTable.winner {
  background-color: #69aa69;
}
#ComputerTable.winner {
  background-color: #aa6969;
}

#debugBar button {
  height: 50px;
  width: 150px;
  font-size: 32px;
  line-height: 150%;
}
button {
  min-width: 100px;
  margin: 0 10px;
}
@keyframes card {
  from {top: -120px;}
  to {top: 0;}
}


// LOADER BELOW

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

